<%- include("header") %>

<%- include("navbar") %>

<main>
  <p><strong>Race:</strong> <%= race %></p>
  <p><strong>Born:</strong> <%= born %></p>

  <% if (died != "") { %>
    <p><strong>Died:</strong> <%= died %></p>
  <% } %>
  
    <% if (ruler = true) { %>
      <p><strong>Title:</strong> <%= position %></p>
    <% } else { %>
      <p><strong>Occupation:</strong> <%= position %></p>  
    <% } %>

  <% if (reign != '') { %>
    <p><strong>Reign:</strong> <%= reign %></p>
  <% } %>

  <p style="float: left; margin-right: 16px;"><strong>Family:</strong></p>

  <ul class="list-unstyled">
    <% for (i = 0; i < family.length; i++) { %>
      <li><%= family[i] %></li>
    <% } %>
  </ul>
</main>

<%- include("footer") %>