<%- include("../header") %>
<%- include("../navbar") %>

<% const raceMain = race; %>

<main>
  <h1><%= race.name %></h1>
  <p>

  </p>

  <h2></h2>
  <p>

  </p>

  <h2></h2>
  <p>
    
  </p>

  <h2><%= race.name %> Traits</h2>
  <%- include("race") %>
</main>
<%- include("../footer") %>